* {
    text-align: center;
}

body {
    padding: 2px;
    margin: 2px;
    background-color: lightblue;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

h1, a {
    color: cornflowerblue;
}

.rest-rants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

img {
    max-width: 75%;
}

.rest-rant-pic {
    max-height: 40vh;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.pic {
    max-width: 70%;
}

.description {
    max-width: 30%;
    padding-right: 5em;
}

.btn {
    margin: 4px;
}

img {
    padding-bottom: 4px;
}